---
layout: default
---
<div class="container">
  <p class="h1">{{ page.title }}</p>
  {{ content }}
  <ul class="list-unstyled">
    {% capture topics %}{{ page.title | downcase }}{% endcapture %}
    {% for post in site.categories[topics] %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span>{{ post.date | date: date_format }}</span>
        <p class="h2">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </p>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>